* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 100vh;
}


.nav_bar {
    background-color: #293b6f; 
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: relative;
    
 
}

.logo {
    font-size: 20px;
    letter-spacing: 2px;
  
}

.nav {
    display: flex; 
    gap: 20px;
}


.nav_btn {
    background-color: #2ae957;
    color: white; 
    border: none; 
    padding: 10px 25px;
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer;
    text-decoration: none;
}
.nav_btn:hover { 
    background-color: #1bb161; 
}


.nav_cont {
    background-color: #3693db;
    color: white; 
    border: none;
    padding: 10px 40px; 
    font-size: 16px; 
    border-radius: 5px;
    cursor: pointer; 
    text-align: center;
    appearance: none;
}
.nav_cont:hover {
     background-color: #3d37ad; 
}





.drop {
    position: relative;
   
}



.drop_cont {
    display: none;       
    position: absolute;     
    background-color: white; 
    min-width: 120px;
    z-index: 100;
    border-radius: 5px;
}


.drop_cont a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
}


.drop_cont a:hover {
    background-color: #f1f1f1;
    color: #293b6f;
}

.drop:hover .drop_cont {
    display: block;
}








.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.b_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.styling {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 23, 42, 0.75);
}


.b_content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}


.text_b { 
    text-align: center; 
}
.text_b h1 { 
    font-size: 56px; 
    letter-spacing: 4px;
    padding-bottom: 15px;
}
.text_b p {
    font-size: 22px; 
    margin-bottom: 40px;  
}
.shape_b {
    border: none;      
    height: 5px;           
    background: #2ae957;    
    width: 80px;             
    margin: 0 auto 25px auto;   
    border-radius: 5px;      
}
.ver_row {
    display: flex; 
    justify-content:space-around ; 
    font-size: 14px; 
}
.sta { 
    border: 1px solid #2ae957; 
    color: #2ae957; 
    padding: 8px 20px; 
    border-radius: 50px; 
    font-weight:700;
}
.ver_sta {
    color: #edebeb; 
    padding-top: 8px; 
}
